<div class="toolbar" role="banner">
    <img
      alt="LandCom Logo"
      src="https://images.bayut.com/thumbnails/27681668-240x180.webp"
    /> 
   <h4> <a routerLink='' style="color: red;" >LANDCOM</a></h4>
      <div class="spacer"></div>
      <div><button class="btn btn-success" (click)='login()'>{{button}}</button></div>&nbsp;
      <div><button class="btn btn-danger" (click)='newAd()'>Place ad</button></div>&nbsp;
      
    <a aria-label="LandCom on facebook" target="_blank" rel="noopener" href="https://www.facebook.com/landcomdxb" title="Facebook">
        <button class="btn btn-primary">f</button>  
    </a>
  </div>

  